body {
    background: radial-gradient(circle at top, #ffcb05 0%, #ffffff 40%);
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-weight: 900;
    color: #ffcb05;
    text-shadow:
        -3px -3px 0 #2a75bb,
        3px -3px 0 #2a75bb,
        -3px 3px 0 #2a75bb,
        3px 3px 0 #2a75bb;
}

/* Cards */
.poke-card {
    border-radius: 20px;
    border: 4px solid #2a75bb;
    transition: 0.3s ease;
}

.poke-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.poke-img {
    height: 140px;
    object-fit: contain;
    background-color: #f8f9fa;
    border-bottom: 3px solid #2a75bb;
}

/* Botones */
.btn-primary {
    background-color: #ffcb05;
    border: 2px solid #2a75bb;
    color: #2a75bb;
    font-weight: bold;
}

.btn-danger {
    background-color: #ff0000;
    border: 2px solid #aa0000;
}

/* Barra */
.progress {
    height: 30px;
    border-radius: 20px;
    border: 3px solid #2a75bb;
    background-color: white;
}

.progress-bar {
    background-color: #ffcb05;
    color: #2a75bb;
    font-weight: bold;
}

/* Modal */
.modal-content {
    border-radius: 20px;
    border: 5px solid #2a75bb;
}

.modal-header {
    background-color: #ffcb05;
    color: #2a75bb;
}

/* Habilidades */
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background-color: #ffcb05;
    color: #2a75bb;
    margin: 6px 0;
    padding: 6px 10px;
    border-radius: 10px;
}